*{
    margin : 0;
    padding : 0;
}
header{
    background : linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(image/p.jpg);
    height : 100vh;
    -webkit-background-size : cover;
    background-size : cover;
    background-position: center center;
    position : relative;
}

/* overide CSS Materialize */
nav{
    background : rgba(255,255,255,0);
    border-color : rgba(255,255,255,0);
    margin-top : 22px;
}

.center-align {
    list-style : none;
    margin-left : 135px;
}
.center-align li {
    display : inline-block;
}
.center-align li a {
    color : #fff;
    text-decoration: none;
    padding : 5px 20px;
    font-family : poppins;
    font-size : 18px;
}
.center-align li a:hover{
    background: #fff;
    color : #333;
}

.wrapper img{
    width : 300px;
    height :auto;
    margin-left : 160px;
}

/*end*/

/*styling text tengah*/
.welcome-text{
    position : absolute;
    width : 600px;
    height : 300px;
    margin : 9% 30%;
    text-align : center;
}

.welcome-text h1{
    text-align : center;
    color : #fff;
    text-transform :uppercase;
    font-size : 30px;
}

.welcome-text a{
    border : 1px solid #fff;
    padding : 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top:20px;
    display : inline-block;
    color : #fff;
    background-color: #1b8bf9;
    box-shadow: 1px 2.9px 16px rgba(27, 139, 249, 0.4);
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

/*teknik button agar jika di klik menimbulkan effect tombol tertekan*/
.welcome-text a:hover{
    background:#fff;
    color : #333;
}

.welcome-text a:active {
    box-shadow: 0 5px transparent;
    transform: translateY(4px);
  }

  /*end*/

/*styling tulisan pada bottom*/
.bottom{
    position : absolute;
    width : 600px;
    margin : 1% 30%;
    margin-top : 550px;
    text-align : center;
    color : white;
}
