@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Enriqueta";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("image/s.jpg");
}

/*untuk tampilan normal (layar laptop/komputer)*/
/*styling header*/
header {
  display: inline-block;
  width: 100%;
  background-image: linear-gradient(to right, #43cae9, #38f9d7);
}

header #logo {
  width: 30% auto;
  text-align: center;
  background-image: linear-gradient(to right, #43cae9, #38f9d7);
  color: #191970;
  font-size: 15px;
}
header #logo h2 a {
  text-decoration: none;
}
header #logo img {
  width: 500px;
}
/*end header */

/*styling navbar*/
/*overide Materialize CSS*/
header nav {
  background-color: #87CEEB;
}

header nav .center-align {
  margin-left : 560px;
}
header nav ul li a {
  font-size : 20px;
}

/*end*/

/*styling main*/
main {
  padding: 100px;
  overflow: auto;
  margin: 80px;
  margin-top : 20px;
  
}

/*styling kotak informasi content*/
#content {
  float: left;
  width: 75%;
}

main #content article {
  margin: 30px;
  padding: 20px;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

main #content article p {
  text-align: justify;
  text-indent: 2em;
}

main #content article h1 {
  text-align: center;
  font-size: 40px;
  background: -webkit-linear-gradient(#43cae9, #38f9d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main #content article img {
  padding: 8px;
  border-radius: 20px;
  width : 50%;
  margin-left:25%;
}
/*end*/

/* object yang akan di get oleh javascript yang befungsi membuat navbar tetap keliatan walau web sedang di scroll kebawah*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
}

.sticky + .content {
  padding-top: 60px;
}

/*end*/

/*styling footer*/

footer {
  margin-top: 20px;
  padding: 20px;
  background-image: linear-gradient(to right, #43cae9, #38f9d7);
}

footer p {
  color: white;
  text-align: center;
}
/*end*/

/* styling aside and overide CSS */
aside {
  float: right;
  width: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding-left: 20px;
  padding: 20px;
  margin-top: 30px;
}

aside h2 {
  text-align: center;
  font-size: 30px;
  padding-top:10px;
}

aside article header .general h2 {
  font-size: 30px;
}
aside p {
  text-align: center;
  font-size: 28px;
}

aside .general {
  border-radius: 20px;
}

aside .general p {
  color: #191970;
}

aside .general img {
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

aside section h3 {
  text-align: center;
}

aside section a {
  text-decoration: none;
}

aside section .jobs{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

aside section .jobs .row  {
  margin-top : 22px;
}
aside section button{
  appearance:none;
  -webkit-appearance:none;
  padding:10px;
  border:none;
  background-image: linear-gradient(to right, #43cae9, #38f9d7);
  color:#fff;
  border-radius:10px;
  width:50%;
  margin : 25%;
  font-size: 20px;
  margin-top : 5%;
  margin-bottom: 5%;
}

/*end*/

/*teknik button agar jika di klik menimbulkan effect tombol tertekan*/
button:hover {background-color:  #43cae9}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*end*/

/*responsif web : small screen (untuk layar kecil)*/
@media screen and (max-width: 641px) {

  header nav .center-align {
    margin-left : 110px;
  }

  header nav .center-align li a {
    font-size : 10px;
  }
  #content,
  aside {
    width: 100%;
    padding: 0;
  }

  header #logo img {
    width: 80%;
  }

  header #logo h2 {
    font-size: 30px;
  }

  main{
    margin : 5px;
  }
  main #content {
    width: 100%;
  }

  main #content article img {
    width : 75%;
    margin-left : 13%;
  }
}

/*end*/